.settings {
	display: flex;
	min-height: calc(100vh - 50px);
}

.settingsWrapper {
	flex: 9;
	padding: 20px;
}

.settingsForm {
	display: flex;
	flex-direction: column;
}

.settingsPP {
	display: flex;
	align-items: center;
	margin: 10px 0;
}

.settingsPP>img {
	width: 70px;
	height: 70px;
	border-radius: 20px;
	object-fit: cover;
}

.settingsPP input {
	display: none;
}

.settingsForm>label {
	font-size: 20px;
	margin-top: 20px;
}

.settingsForm>input {
	color: gray;
	margin: 10px 0;
	height: 30px;
	width: 200px;
	border: none;
	border-bottom: 2px solid;
}

.settingsForm>input:focus {
	outline: none;
}

.settingsSubmit {
	align-self: center;
	border: none;
	border-radius: 10px;
	color: white;
	background-color: rgb(27, 108, 161);
	padding: 10px;
	margin-top: 20px;
	cursor: pointer;
}