.register {
	height: calc(100vh - 50px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: lightgray;
	background-size: cover;
}

.registerTitle {
	font-size: 50px;
}

.registerForm {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.registerForm > label {
	margin: 10px 0;
}

.registerInput {
	padding: 10px;
	background-color: white;
	border: none;
	border-radius: 10px;
}

.registerInput:focus {
	outline: none;
}

.registerButton {
	margin-top: 20px;
	cursor: pointer;
	background: rgb(27, 108, 161);
	color: white;
	padding: 10px;
	border: none;
	border-radius: 10px;
	text-align: center;
}
